/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body
{
  background-color:#fef3a1;
}

/* Style for header - with centred content */
h1.header
{
	width: 100%;
	text-align: center;
}

/* Styles for page footer - with left and right hand components */
div.footer
{
	width: 97%;
	position: absolute;
	bottom: 30px;
}

div.footer a
{
  font-family: verdana, arial, helvetica, sans-serif;
  color: #999;
}

div.left-footer
{
  font-family: verdana, arial, helvetica, sans-serif;
  position: absolute;
  left: 0;
  color: #999;
  width: 50%;
  font-size: 11px;
}

div.right-footer
{
  font-family: verdana, arial, helvetica, sans-serif;
  position: absolute;
  right: 0;
  text-align: right;
  color: #999;
  width: 50%;
  font-size: 11px;
}
